body {
    margin: 0;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    background-color: #ee9ca7;
    
    overflow: hidden;
}

*, *:after, *:before{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* CONTAINEr ===========
======================*/
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Line */

.lines {
    display: flex;
}

.line {
    height: 100px;
    width: 2px;
    
    background-color: #fff;
    
    animation: move 5s infinite;
}

.line2 {
    height: 100px;
    width: 2px;
    
    background-color: #cb2d3e;
    
    animation: move2 5s infinite;
}

.line3 {
    height: 100px;
    width: 2px;
    
    background-color: #cb2d3e;
    
    animation: move3 3s infinite;
}


.line4 {
    height: 100px;
    width: 2px;
    
    background-color: #fff;
    
    animation: move4 3s infinite;
}



/* menu */

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-height: 820px;
    
    position: relative;

    background: url(img/menu-bg.png) center no-repeat;
    background-size: cover;

}

.menu__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    margin-top: -100px;
    
    text-align: center;
    font-weight: 700;


}

.menu__title{
    margin: 0 auto;
    margin-top: 75px;
    
    font-weight: 800;
    font-size: 80px;
    text-transform: uppercase;
    color: #cb2d3e;
}

.menu__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    
    text-align: center;
}

.level__item {
    padding: 15px;
    width: 20%;
}

.level {
    position: relative;
    
    overflow: hidden;
    display: block;
    padding: 32px;
    max-width: 110px;
    height: 110px;
    
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    color: #cb2d3e;
    
    border: 7px solid #cb2d3e;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 2px 2px 3px #ef473a;
    
    transition: color .3s ease-in-out;
}

.level:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    
    color: #fea583;
    background-color: #cb2d3e;
    
    position: absolute;
    top: 0;
    left: -25%;
    z-index: 1;
    
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
    
    transition: width .3s ease-in-out;
}

.level span {
    position: relative;
    z-index: 2;
}

.level:hover {
    color: #fea583;
}

.level:hover:before {
    width: 150%;
}



/* Media */

@media(max-width: 1050px) {
    .lines {
        display: none;
    }
    
    .line {
        display: none;
    }
    
    .menu__inner {
        margin-top: 0;
    }
}

@media(max-width: 813px) {

    /*  Menu  */
    
    .menu__title {
        font-size: 65px;
        margin-top: 25px;
    }

    .menu__item {
        margin-top: 10px;
    }

    
    /*  Level  */
    
    .level {
        max-width: 90px;
        height: 90px;
        padding: 21px;
    }
}


@media(max-width: 569px) {

    /*  Level  */
    
    .level {
        max-width: 75px;
        height: 75px;
        padding: 13px;
    }
}



/*Animation*/

@keyframes move {
    0% {
        transform: translateY(-100px) translateX(0) rotate(0deg);
    }
    
    40% {
        transform: translateX(0) translateY(500px) rotate(0deg);
    }
    
    60% {
        transform: translateX(0) translateY(500px) rotate(90deg);
    }
    
    100% {
        transform:  translateX(2000px) translateY(500px) rotate(90deg);
    }
}


@keyframes move2 {
    0% {
        transform: translateY(-100px) translateX(1000px) rotate(0deg);
    }
    
    40% {
        transform: translateX(1000px) translateY(400px) rotate(0deg);
    }
    
    60% {
        transform: translateX(1000px) translateY(400px) rotate(-90deg);
    }
    
    100% {
        transform:  translateX(-2000px) translateY(400px) rotate(-90deg);
    }
}


@keyframes move3 {
    0% {
        transform: translateY(-100px) translateX(450px) rotate(0deg);
    }
    
    40% {
        transform: translateX(450px) translateY(450px) rotate(0deg);
    }
    
    60% {
        transform: translateX(450px) translateY(450px) rotate(-90deg);
    }
    
    100% {
        transform:  translateX(-2000px) translateY(450px) rotate(-90deg);
    }
}

@keyframes move3 {
    0% {
        transform: translateY(-100px) translateX(450px) rotate(0deg);
    }
    
    40% {
        transform: translateX(450px) translateY(550px) rotate(0deg);
    }
    
    60% {
        transform: translateX(450px) translateY(550px) rotate(-90deg);
    }
    
    100% {
        transform:  translateX(-2000px) translateY(550px) rotate(-90deg);
    }
}


@keyframes move4 {
    0% {
        transform: translateY(-100px) translateX(600px) rotate(0deg);
    }
    
    40% {
        transform: translateX(600px) translateY(550px) rotate(0deg);
    }
    
    60% {
        transform: translateX(600px) translateY(550px) rotate(90deg);
    }
    
    100% {
        transform:  translateX(2000px) translateY(550px) rotate(90deg);
    }
}





















