body {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin: 0;
    background-color: #e0edc1;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: #6888b1;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
    padding: 10px 0;
    background-color: #6888b1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #6888b1;
    /* opacity: .9; */
}

.header__inner {
    display: flex;
    padding: 15px 0px;
    justify-content: space-between;
    align-items: center;
}


/* Nav */
.nav {
    display: flex;
    font-weight: 700;
}

.nav__link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-left: 50px;
    transition: color .2s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    color: #ffcf92;
}

/* NAV TOGGLE ==================
==============================*/

.nav-toggle {
    display: none;
    padding: 25px 0;
    width: 30px;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
    font-size: 0;
    color: transparent;
    background: none;
    border: 0;
    cursor: pointer;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    display: block;
    width: 100%;

    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item:before, .nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #fff;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0px);
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(-1px, 3px, 0px);
}


/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 950px;
    background: #6888b1 url(intro-bg.jpg) no-repeat center;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 665px;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
}

.intro__title {
    font-size: 75px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px;
}

.intro__subtitle {
    font-size: 25px;
    max-width: 500px;
    margin: 0 auto;
}


/* Cards */

.cards {
    background-color: #e0edc1;
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card__title {
    color: #6888b1;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    /* width: 100%; */
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 70px;
}

.card__item {
    width: 27%;
    background-color: #fff;
    text-align: left;
    margin: 0 30px;
    margin-bottom: 100px;
}

/* .card__item:last-child {
    margin-right: 1px;
} */

.card__img {
    width: 100%;
    max-width: 339px;
    max-height: 301px;
}

.card__content {
    padding: 20px 10px;
    color: #4f4e4e;
}

.card__name {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.card__text {
    max-width: 200px;
    font-size: 16px;
    margin-bottom: 15px;
}

.card__cost {
    font-weight: 700;
    font-size: 20px;
}


/* Button */

.btn {
    display: block;
    justify-content: center;
    color: #fff;
    max-width: 250px;
    background-color: #6888b1;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 60px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 150px;
    transition: background .2s linear, color .2s linear;
}

.btn:hover {
    background-color: #fff;
    color: #6888b1;
}


/* Discount */

.discount {
    background-color: #fff;
}

.discount__img {
    width: 50%;
}

.discount__inner {
    display: flex;
    flex-wrap: wrap;
    height: 0;
}

.discount__item {
    padding-left: 55px;
    width: 50%;
    text-align: left;
    color: #303030;
    margin-top: -50%;
    margin-left: 50%;
}

.discount__title {
    font-weight: 700;
    font-size: 60px;
    max-width: 400px;
    margin-bottom: 55px;
}

.discount__text {
    font-size: 20px;
    margin-bottom: 55px;
}

.btn--discount {
    margin-left: 0;
}

.btn--discount:hover {
    background-color: #ffcf92;
}


/* Promo */

.promo {
    background-color: #fff;
    /* min-height: 775px; */
    position: relative;
}

.promo__inner {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    margin-bottom: 0;
    /* position: relative; */
}

.promo__item {
    /* padding-left: 55px; */
    /* margin-top: 165px; */
    /* display: inline-block;
    vertical-align: middle; */

    /* margin: auto 0; */
    padding: 95px 0;
    width: 50%;
    text-align: left;
    color: #303030;
    display: block;
    /* margin-bottom: 0;
    padding-bottom: 0; */

}

.promo__title {
    padding-top: 30px;
    font-weight: 700;
    font-size: 60px;
    max-width: 500px;
    margin-bottom: 55px;
}

.promo__text {
    font-size: 20px;
    margin-bottom: 55px;
    max-width: 450px;
}

.promo__img {
    height: 100%;
    position: absolute;
    /* margin-left: 50%;
    margin-top: -50%; */
    right: 0;
    top: 0;
    width: 50%;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100%;
    max-height: 775px;

}


/* Order */

.order {
    background-color: #6888b1;
}

.order__inner {
    display: flex;
    flex-wrap: wrap;
}

.order__header {
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 90px;
    padding-top: 90px;
}

.order__item {
    /* flex: 1 1 0; */
    width: 33.33333%;
    padding: 0 20px;
    text-align: center;
}

.order__num {
    width: 23%;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 35px;
    color: #6888b1;
    background-color: #fff;
}

.order__title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 25px;
}

.order__text {
     font-size: 20px;
     margin-bottom: 120px;
}


/* Delivery */

.delivery {
    background: #fff url(delivery-bg.jpg) no-repeat center;
    background-size: cover;
    height: 739px;
}

.delivery__title {
    padding-top: 130px;
    font-size: 75px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    color: #6888b1;
    margin-bottom: 55px;
}

.delivery__text {
    font-size: 22px;
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
    color: #6888b1;
    margin-bottom: 65px;

}


/* Reviews */

.reviews {
    background: #fff url(last-bg.jpg) no-repeat center;
    background-size: cover;
}

.reviews__item {
    text-align: center;
    margin: 0 auto;
    color: #6888b1;
    max-width: 780px;
}

.reviews__text {
    padding-top: 220px;
    font-size: 25px;
    margin-bottom: 50px;
}

.reviews__author {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 80px;
}


/* Social */
.social {
    display: flex;
    justify-content: center;
    padding-bottom: 270px;
}

.social__item {
    width: 45px;
    justify-content: center;
    /* align-items: center; */
    height: 45px;
    background-color: #6888b1;
    margin-right: 15px;
    display: flex;
    fill: #e0edc1;
    border-radius: 50%;
    transition: background .2s linear, color .2s linear;
}

.social__icon {
    display: block;
    padding: 10px;
}

.social__item:hover {
    fill: #6888b1;
    background-color: #ffcf92;
}


/* Footer */ 

.footer {
    background-color: #6888b1;
}

.footer__inner {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.footer__item {
    width: 50%;
    text-align: left;
    margin-bottom: 95px;
}

.small {
    width: 15%;
}

.footer__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 30px;
}

.footer__text {
    font-size: 16px;
    max-width: 500px;
}

.footer__link {
    color: #fff;
    font-size: 17px;
    margin-bottom: 5px;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}


@media (max-width: 1170px) {

    .promo__item {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .btn--discount {
        margin-bottom: 71px;
    }

    /* Order */

    .order__item {
        padding: 0 10px;
    }

    .order__num {
        padding: 15px;
        width: 20%;
    }
}

@media (max-width: 1024px) {

    /* Order */

    .order__item {
        width: 100%;
        padding: 0 20px;
    }

    .order__num {
        font-size: 60px;
        padding: 45px;
        width: 18%;
    }
}

@media (max-width: 990px) {

    /* Nav */
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;

        background-color: #6888b1;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav.active {
        display: block;
    }

    .nav-toggle {
        display: block;
    }

    .nav-toggle {
        padding: 22px 0;
    }

    /* Header */

    .header__logo {
        padding: 5px 0;
    }

    /* Card */

    .card__item {
        width: 25%;
    }


    /* Header */


    .discount__title {
        font-size: 45px;
        margin-bottom: 30px;
    }

    .discount__text {
        font-size: 16px;
        margin-bottom: 30px;
    }


    /* Promo */

    .promo__item {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .promo__title {
        font-size: 45px;
    }

    .promo__text {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .btn--discount {
        margin-bottom: 101px;
    }

    /* Order */

    .order__num {
        font-size: 50px;
        padding: 45px;
        width: 18%;
    }

    /* Footer */

    .footer__item {
        width: 60%;
        padding-right: 25px;
    }

    .small {
        width: 20%;
    }
}

@media (max-width: 870px) {

    /* Order */

    .order__num {
        font-size: 50px;
        padding: 37px;
        width: 18%;
    }
}
 
@media (max-width: 770px) {

    /* Card */

    .card__title {
        font-size: 55px;
    }

    .card{
        margin: 0 auto;
    }

    .card__item {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 60px;
        max-width: 380px;
    }

    .card__img {
        margin-top: 20px;
        margin-left: 20px;
    }

    /* Discount */

    .discount {
        margin: 0 auto;
        min-height: 1000px;
    }

    .discount__inner {
        margin: 0 auto;
    }

    .discount__item {
        margin-left: 0;
        margin-top: 0;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        width: 400px;
    }

    .discount__title {
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 25px;
    }

    .discount__text {
        line-height: 1.4;
    }

    .discount__img {
        display: block;
        width: 100%;
        max-width: 450px;
        height: auto;
        margin: 0 auto;
        padding-top: 80px;
    }

    .btn--discount {
        margin: 0 auto;
    }

    /* Promo */

    .promo {
        margin: 0 auto;
        height: 1000px;
    }

    .promo__inner {
        margin: 0 auto;
    }

    .promo__item {
        /* display: none; */

        text-align: center;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .promo__img {
        display: block;
        width: 100%;
        max-width: 450px;
        height: auto;
        left: 0;
        margin: 0 auto;
        padding-top: 80px;
        /* margin-top: -50%; */
        top: 50%;
        margin-top: -170px;

    }

    .btn--discount {
        margin: 0 auto;
    }

    /* Order */

    .order__num {
        font-size: 50px;
        padding: 30px;
        width: 18%;
    }

    /* Delivery */

    .delivery__title {
        margin-bottom: 40px;
    }

    .delivery__text {
        padding: 0 55px;
    }

}

@media (max-width: 700px) {
    /* Order */

    .order__num {
        font-size: 44px;
        padding: 24px;
        width: 17%;
    }

}

@media (max-width: 575px) {

    /* Header */

    .header__logo {
        padding: 10px 0;
    }

    .header__img {
        width: 198px;
        height: 38px;
    }

    /* Intro */
    .intro__title {
        font-size: 65px;
    }

    .intro__subtitle {
        font-size: 20px;
        max-width: 400px;
    }

    /* Card */

    .card__item {
        max-width: 339px;
    }

    .card__img {
        margin-top: 0;
        margin-left: 0;
    }

    /* Discount */

    .discount {
        min-height: 900px;
    }

    .discount__item {
        width: 300px;
    }

    .discount__title {
        font-size: 35px;
    }

    .discount__img {
        max-width: 350px;
        height: auto;
    }


    /* Promo */

    .promo {
        height: 900px;
    }

    .promo__item {
        max-width: 300px;
    }

    .promo__title {
        font-size: 35px;
    }

    .promo__img {
        max-width: 350px;
        height: auto;
        margin-top: -100px;
    }

    /* Order */

    .order__num {
        font-size: 40px;
        padding: 24px;
        width: 20%;
    }

    /* Delivery */

    .delivery__title {
        font-size: 65px;
    }

    .delivery__text {
        font-size: 19px;
    }


    /* Footer */

    .footer__inner {
        margin: 0 auto;
    }

    .footer__item {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .small {
        width: 30%;
    }
}

@media (max-width: 460px) {

    /* Intro */

    .intro__title {
        font-size: 55px;
    }

    /* Card */

    .card__item {
        max-width: 280px;
    }

    /* Discount */

    .discount__img {
        max-width: 300px;
        height: auto;
    }


    /* Promo */

    .promo__img {
        max-width: 300px;
        height: auto;
    }

    /* Order */

    .order__num {
        font-size: 30px;
        padding: 17px;
        width: 19%;
    }

    /* Delivery */

    .delivery__title {
        font-size: 55px;
    }
}

@media (max-width:380px) {
    /* Order */

    .order__num {
        font-size: 30px;
        padding: 17px;
        width: 24%;
    }

    .oreder__header {
        font-size: 50px;
    }

    /* Delivery */

    .delivery__title {
        font-size: 45px;
    }

    .delivery__text {
        font-size: 16px;
    }
}

@media (max-width:330px) {
    /* Order */

    .order__num {
        font-size: 30px;
        padding: 17px;
        width: 28%;
    }
}