.is3_element > .dl_field_error_text > a:visited,
.is3_element > .dl_field_error_text > a:link, .dl_default_link {
  color: #074b78;
  text-decoration: none;
  cursor: pointer;
}
.is3_element > .dl_field_error_text > a:hover:visited,
.is3_element > .dl_field_error_text > a:hover:link, .dl_default_link:hover, .is3_element > .dl_field_error_text > a:focus:visited,
.is3_element > .dl_field_error_text > a:focus:link, .dl_default_link:focus {
  text-decoration: underline;
  color: #0F2B46;
}
.dl--keyboard_focus .is3_element > .dl_field_error_text > a:focus:visited,
.dl--keyboard_focus .is3_element > .dl_field_error_text > a:focus:link, .dl--keyboard_focus .dl_default_link:focus {
  text-decoration: none;
  box-shadow: inset 0 0 0px 1px rgba(0, 129, 189, 0.5), 0 0 0 2px rgba(0, 129, 189, 0.5);
}

.is3_element > .dl_field_error_text > a[href^=http]:visited,
.is3_element > .dl_field_error_text > a[href^=http]:link, [href^=http].dl_default_link {
  white-space: nowrap;
}
.is3_element > .dl_field_error_text > a[href^=http]:visited::after,
.is3_element > .dl_field_error_text > a[href^=http]:link::after, [href^=http].dl_default_link::after {
  content: " ";
  background-repeat: no-repeat;
  background-image: url(/img/external_link_hint_blue.svg);
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-left: 0.25em;
  opacity: 0.5;
}
.is3_element > .dl_field_error_text > a[href^=http]:hover:visited::after,
.is3_element > .dl_field_error_text > a[href^=http]:hover:link::after, [href^=http].dl_default_link:hover::after, .is3_element > .dl_field_error_text > a[href^=http]:focus:visited::after,
.is3_element > .dl_field_error_text > a[href^=http]:focus:link::after, [href^=http].dl_default_link:focus::after {
  opacity: 1;
}

@keyframes dl_loadingSpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dl_default_link, .is3_element > .dl_field_error_text > a:visited,
.is3_element > .dl_field_error_text > a:link {
  color: #074b78;
  text-decoration: none;
  cursor: pointer;
}
.dl_default_link:hover, .is3_element > .dl_field_error_text > a:hover:visited,
.is3_element > .dl_field_error_text > a:hover:link, .dl_default_link:focus, .is3_element > .dl_field_error_text > a:focus:visited,
.is3_element > .dl_field_error_text > a:focus:link {
  text-decoration: underline;
  color: #0F2B46;
}
.dl--keyboard_focus .dl_default_link:focus, .dl--keyboard_focus .is3_element > .dl_field_error_text > a:focus:visited,
.dl--keyboard_focus .is3_element > .dl_field_error_text > a:focus:link {
  text-decoration: none;
  box-shadow: inset 0 0 0px 1px rgba(0, 129, 189, 0.5), 0 0 0 2px rgba(0, 129, 189, 0.5);
}

[href^=http].dl_default_link, .is3_element > .dl_field_error_text > a[href^=http]:visited,
.is3_element > .dl_field_error_text > a[href^=http]:link {
  white-space: nowrap;
}
[href^=http].dl_default_link::after, .is3_element > .dl_field_error_text > a[href^=http]:visited::after,
.is3_element > .dl_field_error_text > a[href^=http]:link::after {
  content: " ";
  background-repeat: no-repeat;
  background-image: url(/img/external_link_hint_blue.svg);
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-left: 0.25em;
  opacity: 0.5;
}
[href^=http].dl_default_link:hover::after, .is3_element > .dl_field_error_text > a[href^=http]:hover:visited::after,
.is3_element > .dl_field_error_text > a[href^=http]:hover:link::after, [href^=http].dl_default_link:focus::after, .is3_element > .dl_field_error_text > a[href^=http]:focus:visited::after,
.is3_element > .dl_field_error_text > a[href^=http]:focus:link::after {
  opacity: 1;
}

@keyframes dl_loadingSpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* =========================================================
    is3 (Input Style 3) Section with data or input elements
   ========================================================= */
.is3_top_level_container--box {
  background-color: #fff;
  padding: 0;
  padding: 0.1px 24px;
  box-shadow: 0px 14px 16px rgba(0, 0, 0, 0.06);
  border: none;
  position: relative;
  margin-bottom: 24px;
  border-radius: 0px;
}

.is3_top_level_container--small_center {
  max-width: 600px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.is3_group {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0;
  box-sizing: border-box;
}
.is3_group:first-child {
  margin-top: 20px;
}
.is3_group > hr {
  margin: 32px 0px;
  border: none;
  border-top: 1px solid;
  color: #ddd;
}
.is3_group.is3_group--loading .is3_element > p {
  visibility: hidden;
}
.is3_group.is3_group--loading .is3_element > button {
  visibility: hidden;
}
.is3_element {
  color: #333;
  line-height: 1.66;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
.is3_element > h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 16px 0;
}
.is3_element > h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.32;
}
.is3_element > h3 {
  font-weight: 400;
  font-size: 18px;
  color: #333;
  margin: 20px 0 20px 0;
}
.is3_element > h4 {
  font-weight: 400;
  font-size: 16px;
  color: #333;
  margin: 0.5em 0 0.5em;
  line-height: 1.5;
}
.is3_element > label {
  font-weight: 400;
  color: #666;
  font-size: 16px;
  vertical-align: middle;
}
.is3_element > span {
  font-size: 16px;
}
.is3_element span[disabled] {
  opacity: 0.25;
}
.is3_element > p {
  font-size: 16px;
  font-weight: 400;
  color: #666;
  margin: 0.5em auto;
  line-height: 1.5em;
}
.is3_element > p > em {
  color: #333;
  font-weight: 500;
  font-style: normal;
}
.is3_element > ul > li {
  font-size: 16px;
}
.is3_element > label:first-child:last-child {
  text-align: center;
  display: block;
}
.is3_element > label:first-child:last-child > span {
  font-weight: 500;
}
.is3_element > label:first-child:not(:last-child) {
  min-width: 50%;
  display: inline-block;
  text-align: right;
  margin-right: 0.5em;
  vertical-align: middle;
}
@media (max-width: 760px) {
  .is3_element > label:first-child:not(:last-child) {
    min-width: 40%;
  }
}
@media (max-width: 650px) {
  .is3_element > label:first-child:not(:last-child) {
    display: block;
    margin-top: 1em;
    text-align: left;
  }
}
.is3_element > .dl_unit,
.is3_element > .dl_currency {
  font-size: 16px;
  font-weight: 400;
  vertical-align: middle;
  text-transform: uppercase;
}
.is3_element > span:nth-child(2):last-child {
  font-weight: 500;
  margin-left: 0.5em;
  vertical-align: middle;
}
@media (max-width: 650px) {
  .is3_element > span:nth-child(2):last-child {
    margin-left: 0;
    display: block;
    text-align: left;
  }
}
.is3_element > label ~ span:nth-child(2):not(:last-child) {
  font-weight: 500;
  text-align: right;
  display: inline-block;
  margin-left: 0.5em;
  padding-right: 0.25em;
  box-sizing: border-box;
  vertical-align: middle;
}
.is3_element > label ~ span:nth-child(2):not(:last-child).dl_value--small {
  min-width: 120px;
}
@media (max-width: 650px) {
  .is3_element > label ~ span:nth-child(2):not(:last-child) {
    margin-left: 0;
    min-width: 50%;
  }
  .is3_element > label ~ span:nth-child(2):not(:last-child).dl_value--small {
    min-width: 50%;
  }
}
.is3_element > input:nth-child(2).dl_value--small {
  width: 120px;
}
@media (max-width: 650px) {
  .is3_element > input:nth-child(2) {
    margin-left: 0;
  }
}
.is3_element > p > input[type=checkbox]:first-child {
  width: 1em;
}
.is3_element > p > input[type=checkbox]:first-child + label:last-child {
  display: inline-block;
  width: calc(100% - 2em);
  vertical-align: top;
}
.is3_element input[type=email],
.is3_element input[type=password],
.is3_element input[type=number],
.is3_element input[type=text],
.is3_element select {
  font-size: 16px;
  font-weight: 400;
  border: none;
  border: 1px solid #aaa;
  background-color: #fafafa;
  border-radius: 10px;
  line-height: 1.5;
  padding: 0 0.5em;
  transition: background-color 100ms ease-out, border-color 50ms ease-out;
  box-sizing: border-box;
  vertical-align: middle;
}
.is3_element input[type=email][type=number],
.is3_element input[type=password][type=number],
.is3_element input[type=number][type=number],
.is3_element input[type=text][type=number],
.is3_element select[type=number] {
  text-align: right;
}
.is3_element input[type=email][readonly],
.is3_element input[type=password][readonly],
.is3_element input[type=number][readonly],
.is3_element input[type=text][readonly],
.is3_element select[readonly] {
  border: none;
  background-color: transparent;
}
.is3_element input[type=email]:active, .is3_element input[type=email]:focus,
.is3_element input[type=password]:active,
.is3_element input[type=password]:focus,
.is3_element input[type=number]:active,
.is3_element input[type=number]:focus,
.is3_element input[type=text]:active,
.is3_element input[type=text]:focus,
.is3_element select:active,
.is3_element select:focus {
  border-color: #FAA200;
  outline: none;
}
.is3_element input[type=email].dl_with_field_error,
.is3_element input[type=password].dl_with_field_error,
.is3_element input[type=number].dl_with_field_error,
.is3_element input[type=text].dl_with_field_error,
.is3_element select.dl_with_field_error {
  background-color: #ffecec;
  border: 1px solid #ff6666;
  box-shadow: inset 0 0 4px rgba(255, 0, 0, 0.4);
}
.is3_element input[type=email]::placeholder,
.is3_element input[type=password]::placeholder,
.is3_element input[type=number]::placeholder,
.is3_element input[type=text]::placeholder,
.is3_element select::placeholder {
  font-size: 80%;
  color: #999;
  font-style: italic;
  font-weight: 500;
}
.is3_element select {
  line-height: 26px;
  height: 26px;
  box-sizing: border-box;
}
.is3_element select::after {
  content: " ";
  display: block;
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-top: 2px solid;
  border-bottom: 2px solid;
  right: 0;
  top: 0;
  color: red;
}
.is3_element input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #aaa;
  width: 2em;
  height: 2em;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  background-color: #fafafa;
  cursor: pointer;
  margin: 2px;
  box-sizing: border-box;
  vertical-align: middle;
}
.is3_element input[type=checkbox]::after {
  transition: 75ms ease-out;
  content: "L";
  display: none;
  position: absolute;
  top: 3px;
  width: 1em;
  height: 1em;
  font-size: 200%;
  line-height: 1;
  text-align: center;
  box-sizing: border-box;
  color: #2b5776;
  font-weight: 600;
  transform: scaleX(-1) rotate(-45deg) scale(0.7);
  box-shadow: inset 0px 0px 0px 0px #042e48;
}
.is3_element input[type=checkbox]:checked::after {
  display: block;
}
.is3_element input[type=checkbox]:focus {
  outline: none;
  border-color: #FAA200;
}
.is3_element input[type=checkbox].dl_with_field_error {
  border: 1px solid red;
  background-color: #ffecec;
}
.is3_element input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #aaa;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  background-color: #fafafa;
  position: relative;
  cursor: pointer;
  margin: 0 8px;
}
.is3_element input[type=radio]::before {
  transition: 75ms ease-out;
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 12px;
  height: 12px;
  border: 8px solid;
  border-radius: 100%;
  text-align: center;
  box-sizing: border-box;
  color: transparent;
  transform: scale(0);
}
.is3_element input[type=radio]:checked::before {
  transform: scale(0.7);
  color: #074b78;
}
.is3_element input[type=radio]:checked {
  border-color: #042e48;
}
.is3_element input[type=radio]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.is3_element input[type=radio].dl_with_field_error {
  border: 1px solid red;
  background-color: #ffecec;
}
.is3_element input[type=radio] ~ label {
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 46px);
}
.is3_element input ~ span {
  display: inline-block;
  vertical-align: middle;
}
.is3_element input[type=radio][disabled] {
  opacity: 0.3;
}
.is3_element input[type=radio][disabled] ~ label {
  opacity: 0.3;
}
.is3_element > .dl_field_error_text {
  display: block;
  text-align: center;
  margin-bottom: 1.3em;
  color: red;
  font-size: 14.4px;
  overflow-wrap: break-word;
}

.is3_element--note {
  margin-top: 16px;
}
.is3_element--note > p {
  font-size: 14px;
  color: #888;
}
.is3_element--note > p > em {
  color: #888;
  font-weight: 500;
  font-style: normal;
}

.is3_element--description {
  margin-top: 16px;
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}
.is3_element--description > p {
  font-size: 14px;
  color: #888;
}
.is3_element--description > p > em {
  color: #888;
  font-weight: 500;
  font-style: normal;
}

.is3_element--data_list ul {
  list-style: none;
  margin-left: 32px;
}

.is3_element--small_checkbox > input[type=checkbox]:first-child {
  width: 2em;
}
.is3_element--small_checkbox > input[type=checkbox]:first-child + label:last-child {
  display: inline-block;
  width: calc(100% - 2em);
  vertical-align: top;
  font-size: 14px;
}
.is3_element--small_checkbox + div.dl_field_error_text {
  color: red;
  text-align: center;
  font-size: 14px;
  margin: 0.5em;
}

.is3_element--medium_checkbox > input[type=checkbox]:first-child {
  width: 2em;
}
.is3_element--medium_checkbox > input[type=checkbox]:first-child + label:last-child {
  display: inline-block;
  width: calc(100% - 2.5em);
  vertical-align: top;
  font-size: 16px;
  padding-left: 0.25em;
}
.is3_element--medium_checkbox + div.dl_field_error_text {
  color: red;
  text-align: center;
  font-size: 16px;
  margin: 0.5em;
}

.is3_element--default_input > label:not(:last-child) {
  min-width: 30% !important;
}
.is3_element--default_input > label ~ input[type=text],
.is3_element--default_input > label ~ input[type=email],
.is3_element--default_input > label ~ input[type=password],
.is3_element--default_input > label ~ select {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 40%;
}
@media (max-width: 650px) {
  .is3_element--default_input > label ~ input[type=text],
.is3_element--default_input > label ~ input[type=email],
.is3_element--default_input > label ~ input[type=password],
.is3_element--default_input > label ~ select {
    width: 90%;
    min-width: 50%;
    display: block;
    margin-right: auto;
  }
}
@media (max-width: 650px) {
  .is3_element--default_input > label ~ input[type=checkbox] {
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
}
.is3_element--default_input > label ~ ul {
  display: inline-block;
  list-style: none;
  vertical-align: top;
  margin-left: 8px;
}
.is3_element--default_input > input ~ label {
  vertical-align: middle;
  margin-left: 8px;
}
.is3_element--default_input > label ~ input ~ p {
  font-size: 14px;
  color: #666;
  font-weight: 300;
  margin-left: 10%;
  margin-top: 0;
  font-style: italic;
}
@media (max-width: 650px) {
  .is3_element--default_input > label ~ input ~ p {
    margin-left: 0%;
  }
}
@media (min-width: 1000px) {
  .is3_element--default_input:not(.is3_element--error_below) > .dl_field_error_text {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 1em;
    vertical-align: text-top;
    line-height: 1.1em;
    width: 28%;
    box-sizing: border-box;
    text-align: left;
    font-size: 12.8px;
  }
}

.is3_element--error {
  background-color: #DA5E5C;
  margin: 1em 0;
  padding: 0.75em 1em;
  text-align: left;
  color: white;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
}
.is3_element--error > em {
  font-weight: 600;
  font-style: normal;
}
.is3_element--error > h1 {
  font-size: 150%;
}
.is3_element--error:empty {
  margin: 0;
  display: none;
}

.is3_element--important_info {
  padding: 0.5em !important;
  text-align: center;
  color: #b00;
  font-size: 16px;
  font-weight: 400;
}
.is3_element--important_info > em {
  font-weight: 600;
  font-style: normal;
}
.is3_element--important_info > h1 {
  font-size: 150%;
}
.is3_element--important_info:empty {
  margin: 0;
  display: none;
}

.is3_element--action_needed {
  padding: 1em !important;
  text-align: center;
  background-color: #f9f9f9;
  font-size: 16px;
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.08);
  border-top: 3px solid #b00;
  border-radius: 0 0 5px 5px;
  margin: 40px 0 60px 0;
}
.is3_element--action_needed > label {
  text-align: center !important;
  color: #b00;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}
.is3_element--action_needed .is3_element--action_failed {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
.is3_element--action_needed .is3_element--action_failed:empty {
  margin-bottom: 0;
}

.is3_element--action_success {
  padding: 1em !important;
  text-align: center;
  font-size: 16px;
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.08);
  font-weight: 400;
  color: #037171;
  border-top: 3px solid #037171;
  border-radius: 0 0 5px 5px;
  margin: 40px 0 60px 0;
}
.is3_element--action_success img {
  vertical-align: middle;
  margin-right: 10px;
}

.is3_element--info {
  padding: 0.5em !important;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.is3_element--info > em {
  font-weight: 600;
  font-style: normal;
}
.is3_element--info > h1 {
  font-size: 150%;
}
.is3_element--info:empty {
  margin: 0;
  display: none;
}

.is3_element--center {
  text-align: center;
}

.is3_element--vspace {
  margin: 24px;
}

.is3_element--right {
  text-align: right;
  padding-right: 0;
}
@media (max-width: 512px) {
  .is3_element--right {
    text-align: center;
    padding-right: 0;
  }
}

.is3_element--disabled {
  opacity: 0.3;
}

.is3_element--radio_option {
  white-space: nowrap;
  margin-top: 16px;
  margin-bottom: 6px;
}
.is3_element--radio_option > * {
  white-space: normal;
  line-height: 1.3;
}
.is3_element--radio_option > input[type=radio] {
  margin-right: 16px;
}

.is3_element--update_data_button, .is3_element--condensed_update_data_button {
  text-align: right;
  margin-top: 16px;
  margin-bottom: 32px;
}
.is3_element--update_data_button + .is3_element--update_data_button, .is3_element--condensed_update_data_button + .is3_element--update_data_button, .is3_element--update_data_button + .is3_element--condensed_update_data_button, .is3_element--condensed_update_data_button + .is3_element--condensed_update_data_button {
  margin-top: -24px;
}
.is3_element--update_data_button a, .is3_element--condensed_update_data_button a, .is3_element--update_data_button button, .is3_element--condensed_update_data_button button {
  border: none;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #074b78;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}
.is3_element--update_data_button a:hover, .is3_element--condensed_update_data_button a:hover, .is3_element--update_data_button button:hover, .is3_element--condensed_update_data_button button:hover {
  color: #042d48;
}
.is3_element--update_data_button a:focus, .is3_element--condensed_update_data_button a:focus, .is3_element--update_data_button button:focus, .is3_element--condensed_update_data_button button:focus {
  outline: none;
  text-decoration: underline;
}
.is3_element--update_data_button a::after, .is3_element--condensed_update_data_button a::after, .is3_element--update_data_button button::after, .is3_element--condensed_update_data_button button::after {
  content: " ";
  position: relative;
  width: 0.55em;
  height: 0.55em;
  text-align: right;
  display: inline-block;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  border-radius: 2px;
  transition: border-color 75ms ease-out;
  vertical-align: middle;
  margin-left: 0.3em;
  top: -0.1em;
}
@media (max-width: 650px) {
  .is3_element--update_data_button, .is3_element--condensed_update_data_button {
    margin-top: 1em;
  }
}

.is3_element--condensed_update_data_button {
  margin-top: -26px;
  margin-bottom: 4px;
}
@media (max-width: 700px) {
  .is3_element--condensed_update_data_button {
    margin-top: 0;
  }
}

.is3_element--center_button_row {
  margin: 24px 0px;
  text-align: center;
}

.is3_clipboard_copy_button {
  font-size: 12px;
  position: relative;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  display: inline-block;
  border: none;
  border-top: 2px solid;
  border-left: 2px solid;
  color: #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  margin-top: -4px;
  transition: color 75ms ease-out;
}
.is3_clipboard_copy_button:active, .is3_clipboard_copy_button:hover {
  color: #666;
}
.is3_clipboard_copy_button:focus {
  outline: none;
}
.is3_clipboard_copy_button:focus::before {
  content: " ";
  display: block;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  left: -4px;
  top: -4px;
  width: calc(1em + 8px);
  height: calc(1em + 8px);
  box-sizing: border-box;
}
.is3_clipboard_copy_button::after {
  content: " ";
  display: block;
  position: absolute;
  border: 2px solid;
  border-radius: 2px;
  left: 2px;
  top: 2px;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
}

.is3_main_button {
  display: inline-block;
  padding: 0 1em;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #F46F52;
  font-weight: 500;
  line-height: 2;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  border-color: white;
  color: white;
  cursor: pointer;
  transition: background-color 75ms ease-out, border-color 50ms ease-out, box-shadow 75ms ease-out, opacity 75ms ease-out;
  box-shadow: inset 0px 0px 0px 0px white;
  font-family: "Montserrat", sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  padding: 0 1.5em;
  border-width: 0px;
}
.is3_main_button:hover {
  box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.is3_main_button:focus {
  box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
  outline: none;
}
.is3_main_button:active {
  border-color: #F46F52;
  background-color: white;
  color: #F46F52;
  outline: none;
}
.is3_main_button[disabled] {
  border-color: #aaa !important;
  color: #aaa !important;
  background-color: #eee !important;
  cursor: default;
}
.is3_main_button:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.is3_main_button:active {
  box-shadow: inset 0 0 0 3px #F46F52;
}
.is3_main_button--submit_button {
  padding: 0 2.5em;
}
.is3--loading .is3_main_button--submit_button {
  background-color: rgba(250, 162, 0, 0.63);
  pointer-events: none;
}
.is3--submitting .is3_main_button--submit_button {
  background-color: #F46F52;
  pointer-events: none;
}
.is3--submitting .is3_main_button--submit_button::before, .is3--submitting .is3_main_button--submit_button::after {
  content: " ";
  display: block;
  border: 2px solid #fff;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 25%;
  left: 1em;
  box-sizing: border-box;
  border-radius: 100%;
  transform: scale(0);
  transition: transform 50ms ease-out;
}
.is3--submitting .is3_main_button--submit_button::before {
  animation: is3_active_request_indicator__active_animation 0.75s 0s linear infinite;
}
.is3--submitting .is3_main_button--submit_button::after {
  animation: is3_active_request_indicator__active_animation 0.75s 0.25s linear infinite;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .is3_element input[type=checkbox] {
    width: 18px !important;
    height: 18px !important;
    border: none !important;
  }
}
@supports (-ms-ime-align: auto) {
  .is3_element input[type=checkbox] {
    width: 18px !important;
    height: 18px !important;
    border: none !important;
  }
}
@keyframes is3_general_fade_in_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes is3_active_request_indicator__active_animation {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  30% {
    transform: scale(0.7);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.is3_modal_dialog--loading .is3_modal_dialog__window::before, .is3_modal_dialog--loading .is3_modal_dialog__window::after {
  content: " ";
  display: block;
  border: 2px solid;
  color: #eee;
  height: 32px;
  width: 32px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 100%;
  transform: scale(0);
  transition: transform 50ms ease-out;
  z-index: 1;
}
.is3_modal_dialog--loading .is3_modal_dialog__window::before {
  animation: is3_active_request_indicator__active_animation 0.75s 1s linear infinite;
}
.is3_modal_dialog--loading .is3_modal_dialog__window::after {
  animation: is3_active_request_indicator__active_animation 0.75s 1.25s linear infinite;
}

@keyframes is3_anim__popup_fade_in {
  0% {
    opacity: 0;
    transform: translate(5px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
.is3_small_popup {
  display: inline-block;
  position: relative;
}
.is3_small_popup > input {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
}
.is3_small_popup:focus {
  outline: none;
}
.is3_small_popup.is3_small_popup--open {
  z-index: 1;
}
.is3_small_popup.is3_small_popup--open ul {
  display: block;
}
.is3_small_popup button {
  border: none;
  background-color: transparent;
  color: #074b78;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  margin-top: 4px;
  padding: 2px 6px;
  display: block;
  min-width: 100%;
  text-align: left;
  border-radius: 0;
  transition: background-color 75ms ease-out, box-shadow 75ms ease-out;
}
.is3_small_popup button:hover {
  color: #042d48;
  background-color: #f8f8f8;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.is3_small_popup button:focus, .is3_small_popup button:active {
  outline: 1px solid #eee;
}
.is3_small_popup ul {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 2px 4px 8px;
  list-style: none;
  right: 8px;
  animation: is3_anim__popup_fade_in 100ms 0s ease-out 1;
  z-index: 2;
}
.is3_small_popup input:focus ~ label span {
  background-color: #f8f8f8;
  color: #333;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.is3_small_popup span {
  font-size: 26px;
  font-weight: 900;
  cursor: pointer;
  color: #666;
  background-color: transparent;
  width: 1.25em;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  line-height: 1.25;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  transition: 100ms ease-out;
}
.is3_small_popup span:hover {
  background-color: #f8f8f8;
  color: #333;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.is3--display_none {
  display: none;
}

@keyframes is3_feedback_popup__animation {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  10% {
    opacity: 0.9;
    transform: scale(1);
  }
  85% {
    opacity: 0.9;
    transform: scale(1);
  }
  90% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.is3_feedback_popup {
  padding: 4px 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background-color: #666;
  color: white;
  font-size: 14px;
  position: absolute;
  opacity: 0;
  white-space: nowrap;
  right: 0;
  top: 100%;
  transform-origin: 100% 0;
  z-index: 1;
  animation: is3_feedback_popup__animation 2s ease-out 1;
}

/* ==========================
    Popups
   ========================== */
@keyframes is3_modal_dialog__fade_in_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.is3_modal_dialog {
  display: none;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(209, 218, 224, 0.6);
  animation: is3_modal_dialog__fade_in_animation 75ms ease-out 1;
}
.is3_modal_dialog fieldset {
  border: none;
}
.is3_modal_dialog__header {
  padding: 16px 24px;
}
.is3_modal_dialog__header h3 {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.is3_modal_dialog__close_button {
  color: #aaaaaa;
  border: none;
  background: transparent;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  top: 6px;
  right: 4px;
  cursor: pointer;
  line-height: 1;
  width: 28px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 512px) {
  .is3_modal_dialog__close_button {
    margin-right: 10px;
  }
}
.is3_modal_dialog__close_button:hover, .is3_modal_dialog__close_button:focus {
  color: #888;
  text-decoration: none;
  outline: none;
}
.is3_modal_dialog--submitting .is3_modal_dialog__close_button {
  pointer-events: none;
  color: #ccc;
}

.is3_modal_dialog__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.is3_modal_dialog__window {
  margin: auto;
  width: 80vw;
  max-width: 960px;
  height: 80vh;
  position: relative;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: white;
  border: 1px solid #dadada;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), 1px 1px 50px rgba(0, 0, 0, 0.05);
}
@media (max-width: 512px) {
  .is3_modal_dialog__window {
    width: 90vw !important;
    margin-top: 2vh;
  }
}
.is3_modal_dialog__window iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.is3_modal_dialog__window hr {
  border: 0;
  border-top: 1px solid #eee;
  padding-bottom: 15px;
  padding-top: 5px;
}
.is3_modal_dialog--loading .is3_modal_dialog__window::before, .is3_modal_dialog--loading .is3_modal_dialog__window::after {
  top: 40%;
  left: calc(50% - 16px);
}

.is3_modal_dialog__content {
  padding: 24px 24px;
}

.is3_modal_dialog__buttons {
  text-align: right;
  text-align: right;
  padding: 0 22px;
  margin: 16px 0;
}
.is3_modal_dialog__buttons > button {
  margin-right: 24px;
}
.is3_modal_dialog__buttons > button:last-child {
  margin-right: 0;
}

.is3_modal_dialog .is3_modal_dialog__cancel_button, .is3_modal_dialog .is3_modal_dialog__submit_button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 2em;
  border-radius: 2em;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
  box-sizing: border-box;
  position: relative;
}
.is3_modal_dialog .is3_modal_dialog__cancel_button:focus, .is3_modal_dialog .is3_modal_dialog__submit_button:focus, .is3_modal_dialog .is3_modal_dialog__cancel_button:active, .is3_modal_dialog .is3_modal_dialog__submit_button:active {
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.2);
}
.is3_modal_dialog__submit_button {
  background-color: #FAA200;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 0 2.5em;
}
.is3_modal_dialog__submit_button:focus, .is3_modal_dialog__submit_button:hover {
  box-shadow: inset 0 0 0px 2px rgba(255, 255, 255, 0.2);
}
.is3_modal_dialog__submit_button:active {
  background-color: #FFFFFF;
  color: #FAA200;
  box-shadow: inset 0 0 0px 2px #FAA200;
}
.is3_modal_dialog--loading .is3_modal_dialog__submit_button {
  background-color: rgba(250, 162, 0, 0.63);
  pointer-events: none;
}
.is3_modal_dialog--submitting .is3_modal_dialog__submit_button {
  background-color: rgba(250, 162, 0, 0.63);
  pointer-events: none;
}
.is3_modal_dialog--submitting .is3_modal_dialog__submit_button::before, .is3_modal_dialog--submitting .is3_modal_dialog__submit_button::after {
  content: " ";
  display: block;
  border: 2px solid #fff;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 25%;
  left: 1em;
  box-sizing: border-box;
  border-radius: 100%;
  transform: scale(0);
  transition: transform 50ms ease-out;
}
.is3_modal_dialog--submitting .is3_modal_dialog__submit_button::before {
  animation: is3_active_request_indicator__active_animation 0.75s 0s linear infinite;
}
.is3_modal_dialog--submitting .is3_modal_dialog__submit_button::after {
  animation: is3_active_request_indicator__active_animation 0.75s 0.25s linear infinite;
}

.is3_modal_dialog__cancel_button {
  color: #074b78;
  background-color: white;
  padding: 0 1.5em;
}
.is3_modal_dialog__cancel_button:focus, .is3_modal_dialog__cancel_button:hover {
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
}
.is3_modal_dialog__cancel_button:hover {
  background-color: #fafafa;
}
.is3_modal_dialog__cancel_button:active {
  box-shadow: inset 0 0 0px 2px rgba(0, 0, 0, 0.05);
  background-color: #f2f2f2;
}
.is3_modal_dialog--loading .is3_modal_dialog__cancel_button, .is3_modal_dialog--submitting .is3_modal_dialog__cancel_button {
  pointer-events: none;
  color: #ccc;
}

.is3_modal_dialog__window .is3_section {
  margin-top: 0;
  margin-bottom: 0;
}
.is3_modal_dialog__window .is3_section .is3_element {
  padding-left: 0px;
}
.is3_modal_dialog__window .is3_section hr {
  border: 0;
  border-top: 1px solid #eee;
  margin-top: 0;
  margin-bottom: 0;
}

.is3_modal_dialog.is3_modal_dialog--small .is3_modal_dialog__window {
  margin: auto;
  width: 80%;
  max-width: 600px;
  height: auto;
  margin-top: 20vh;
  margin-bottom: 5vh;
}
@media (max-width: 760px) {
  .is3_modal_dialog.is3_modal_dialog--small .is3_modal_dialog__window {
    margin-top: 15vh;
  }
}
@media (max-width: 650px) {
  .is3_modal_dialog.is3_modal_dialog--small .is3_modal_dialog__window {
    margin-top: 12vh;
    margin-bottom: 10vh;
  }
}
@media (max-width: 512px) {
  .is3_modal_dialog.is3_modal_dialog--small .is3_modal_dialog__window {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}

.dl_body--with_popup,
body.is3_modal_dialog_opened {
  overflow: hidden;
}
.dl_body--with_popup .is3_modal_dialog,
body.is3_modal_dialog_opened .is3_modal_dialog {
  display: block;
}
.dl_body--with_popup > article,
.dl_body--with_popup main,
.dl_body--with_popup header,
.dl_body--with_popup footer,
.dl_body--with_popup .dl_translator_page_container,
body.is3_modal_dialog_opened > article,
body.is3_modal_dialog_opened main,
body.is3_modal_dialog_opened header,
body.is3_modal_dialog_opened footer,
body.is3_modal_dialog_opened .dl_translator_page_container {
  filter: blur(3px);
}

.is3--modal_dialog_opened {
  overflow: hidden;
}
.is3--modal_dialog_opened > body {
  overflow-y: scroll;
}
.is3--modal_dialog_opened .is3_modal_dialog {
  display: block;
}
.is3--modal_dialog_opened body > article,
.is3--modal_dialog_opened main,
.is3--modal_dialog_opened header,
.is3--modal_dialog_opened footer,
.is3--modal_dialog_opened .dl_translator_page_container {
  filter: blur(3px);
}

@keyframes is3_active_request_indicator__active_animation {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  30% {
    transform: scale(0.7);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.is3_section--active_request_with_indicator .is3_main_button,
.is3_section--active_request .is3_main_button {
  opacity: 0.5;
  cursor: progress;
  pointer-events: none;
}
.is3_section--active_request_with_indicator .is3_active_request_indicator,
.is3_section--active_request .is3_active_request_indicator {
  opacity: 1 !important;
}
.is3_section--active_request_with_indicator .is3_active_request_indicator::before,
.is3_section--active_request .is3_active_request_indicator::before {
  animation: is3_active_request_indicator__active_animation 0.75s 0s linear infinite;
}
.is3_section--active_request_with_indicator .is3_active_request_indicator::after,
.is3_section--active_request .is3_active_request_indicator::after {
  animation: is3_active_request_indicator__active_animation 0.75s 0.25s linear infinite;
}
.is3_section--active_request_with_indicator .is3_element,
.is3_section--active_request .is3_element {
  outline: 1px solid red !important;
}
.is3_section--active_request_with_indicator .is3_element > *,
.is3_section--active_request .is3_element > * {
  opacity: 0.5;
}
.is3_section--active_request_with_indicator .is3_element a,
.is3_section--active_request_with_indicator .is3_element select,
.is3_section--active_request_with_indicator .is3_element input,
.is3_section--active_request .is3_element a,
.is3_section--active_request .is3_element select,
.is3_section--active_request .is3_element input {
  opacity: 0.6;
  pointer-events: none;
}
.is3_section--active_request_with_indicator .is3_element label,
.is3_section--active_request .is3_element label {
  opacity: 0.5;
}
.is3_section--active_request_with_indicator::after,
.is3_section--active_request::after {
  content: " ";
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

/*# sourceMappingURL=is3.css.map */
